In [1]:
# import packages
import pandas as pd
import psycopg2

In [2]:
# Creating a connection with our database
conn = psycopg2.connect("host='127.0.0.1'dbname= Work_Project_Example user=postgres password=MaxiPaxi1317!")

# Resource: https://stackoverflow.com/questions/71082494/getting-a-warning-when-using-a-pyodbc-connection-object-with-pandas
import warnings
warnings.filterwarnings('ignore')

In [3]:
## loading data that needs to be updated


work_example_sql_query = pd.read_sql_query('''
                                           SELECT * FROM fast_food
                             '''
                             ,conn)

In [4]:
# storing the data in a dataframe
work_example = pd.DataFrame(work_example_sql_query)

In [5]:
# Taking a look at our data. Two columns need to be added
work_example.head()

          date          vendor    price bates_number
0   2020-01-27             KFC   $32.51   ABC 001296
1   2020-02-18     Burger King   $44.09   ABC 001208
2   2020-07-17             KFC   $15.00   ABC 001276
3   2020-07-18     Burger King   $20.00   ABC 001276
4   2020-09-23     Burger King   $18.49   ABC 001226
5   2020-11-22   Panda Express   $17.70   ABC 001253
6   2020-11-27       PF Changs   $90.10   ABC 001272
7   2020-12-10     Burger King   $33.08   ABC 001273
8   2020-12-11             KFC   $69.53   ABC 001273
9   2020-12-22             KFC   $23.23   ABC 001274
10  2020-12-29             KFC   $17.23   ABC 001295
11  2021-01-18  Cracker Barrel   $26.94   ABC 001296
12  2021-01-17    Panera Bread   $26.94   ABC 001296
13  2019-11-18      McDonald's   $12.20   ABC 001245
14  2020-09-19      McDonald's   $21.12   ABC 001211
15  2020-07-03           Sonic   $13.80   ABC 001275
16  2020-07-10       PF Changs   $36.00   ABC 001276
17  2020-11-17     Chick-fil-A   $47.65   ABC 001253
18  2020-11-29       Pizza Hut   $90.20   ABC 001272
19  2020-12-15           Sonic   $72.88   ABC 001274
20  2020-12-21     Burger King   $13.00   ABC 001274
21  2020-12-23       Pizza Hut   $12.00   ABC 001274
22  2021-01-06         Popeyes   $84.46   ABC 001295
23  2020-11-11             KFC   $49.68   ABC 001252
24  2020-09-19             KFC   $12.09   ABC 001211
25  2021-01-06    Panera Bread   $84.46   ABC 001295
26  2021-01-04     Burger King   $25.45   ABC 001295
27  2020-02-23            Wawa   $90.11   ABC 001214
28  2020-06-29            Wawa   $25.00   ABC 001275
29  2020-08-06            Wawa   $23.00   ABC 001289
30  2020-09-19            Wawa   $19.00   ABC 001211
31  2020-05-10      McDonald's   $97.43   ABC 001247
32  2020-10-03      McDonald's  $123.90   ABC 001226
33  2020-12-26      McDonald's   $92.31   ABC 001294

In [6]:

# Creating a function to assign exhibit number based on the bates number range.
def new_exhibit(bates_number):
    if 'ABC 001208' <= bates_number <= 'ABC 001276':
        return 'Exhibit 9'
    elif 'ABC 001295' <= bates_number <= 'ABC 001214':
        return 'Exhibit 10'
    elif 'ABC 001226' <= bates_number <= 'ABC 001274':
        return 'Exhibit 11'
    elif 'ABC 001275' <= bates_number <= 'ABC 001296':
        return 'Exhibit 12'
    else:
        return 'N/A'

# Apply the function to create a new column
work_example['exhibit_number'] = work_example['bates_number'].apply(new_exhibit)

# Checking the results
print(work_example)

          date          vendor    price bates_number exhibit_number
0   2020-01-27             KFC   $32.51   ABC 001296     Exhibit 12
1   2020-02-18     Burger King   $44.09   ABC 001208      Exhibit 9
2   2020-07-17             KFC   $15.00   ABC 001276      Exhibit 9
3   2020-07-18     Burger King   $20.00   ABC 001276      Exhibit 9
4   2020-09-23     Burger King   $18.49   ABC 001226      Exhibit 9
5   2020-11-22   Panda Express   $17.70   ABC 001253      Exhibit 9
6   2020-11-27       PF Changs   $90.10   ABC 001272      Exhibit 9
7   2020-12-10     Burger King   $33.08   ABC 001273      Exhibit 9
8   2020-12-11             KFC   $69.53   ABC 001273      Exhibit 9
9   2020-12-22             KFC   $23.23   ABC 001274      Exhibit 9
10  2020-12-29             KFC   $17.23   ABC 001295     Exhibit 12
11  2021-01-18  Cracker Barrel   $26.94   ABC 001296     Exhibit 12
12  2021-01-17    Panera Bread   $26.94   ABC 001296     Exhibit 12
13  2019-11-18      McDonald's   $12.20   ABC 001245      Exhibit 9
14  2020-09-19      McDonald's   $21.12   ABC 001211      Exhibit 9
15  2020-07-03           Sonic   $13.80   ABC 001275      Exhibit 9
16  2020-07-10       PF Changs   $36.00   ABC 001276      Exhibit 9
17  2020-11-17     Chick-fil-A   $47.65   ABC 001253      Exhibit 9
18  2020-11-29       Pizza Hut   $90.20   ABC 001272      Exhibit 9
19  2020-12-15           Sonic   $72.88   ABC 001274      Exhibit 9
20  2020-12-21     Burger King   $13.00   ABC 001274      Exhibit 9
21  2020-12-23       Pizza Hut   $12.00   ABC 001274      Exhibit 9
22  2021-01-06         Popeyes   $84.46   ABC 001295     Exhibit 12
23  2020-11-11             KFC   $49.68   ABC 001252      Exhibit 9
24  2020-09-19             KFC   $12.09   ABC 001211      Exhibit 9
25  2021-01-06    Panera Bread   $84.46   ABC 001295     Exhibit 12
26  2021-01-04     Burger King   $25.45   ABC 001295     Exhibit 12
27  2020-02-23            Wawa   $90.11   ABC 001214      Exhibit 9
28  2020-06-29            Wawa   $25.00   ABC 001275      Exhibit 9
29  2020-08-06            Wawa   $23.00   ABC 001289     Exhibit 12
30  2020-09-19            Wawa   $19.00   ABC 001211      Exhibit 9
31  2020-05-10      McDonald's   $97.43   ABC 001247      Exhibit 9
32  2020-10-03      McDonald's  $123.90   ABC 001226      Exhibit 9
33  2020-12-26      McDonald's   $92.31   ABC 001294     Exhibit 12

In [10]:
# Creating a function to assign a trial binder number based on the bates number range.
def trial_b(bates_number):
    if 'ABC 001208' <= bates_number <= 'ABC 001214':
        return 'Binder 5'
    elif 'ABC 001226' <= bates_number <= 'ABC 001296':
        return 'Binder 6'
    else:
        return 'N/A'

# Apply the function to create a new column
work_example['trial_binder'] = work_example['bates_number'].apply(trial_b)

In [13]:
# Checking the data
work_example.head()

         date       vendor   price bates_number exhibit_number trial_binder
0  2020-01-27          KFC  $32.51   ABC 001296     Exhibit 12     Binder 6
1  2020-02-18  Burger King  $44.09   ABC 001208      Exhibit 9     Binder 5
2  2020-07-17          KFC  $15.00   ABC 001276      Exhibit 9     Binder 6
3  2020-07-18  Burger King  $20.00   ABC 001276      Exhibit 9     Binder 6
4  2020-09-23  Burger King  $18.49   ABC 001226      Exhibit 9     Binder 6

In [ ]:
#Commit Changes

 # conn.commit()

# Close Connection

# cur.close()
# conn.close()